/* Import web fonts for editor */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background: #1e1e1e;
  color: #cccccc;
}

#root {
  width: 100vw;
  height: 100vh;
}

:root {
  --vscode-bg: #1e1e1e;
  --vscode-fg: #cccccc;
  --vscode-titlebar-bg: #181818;
  --vscode-titlebar-fg: #cccccc;
  --vscode-tab-active-bg: #1e1e1e;
  --vscode-tab-inactive-bg: #2d2d2d;
  --vscode-tab-border: #252526;
  --vscode-statusbar-bg: #007acc;
  --vscode-statusbar-fg: #ffffff;
  --vscode-menu-bg: #2d2d2d;
  --vscode-border: #454545;
}
