name: Desktop Build (Linux)

permissions:
  contents: write

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev

jobs:
  build-linux:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: install dependencies (ubuntu only)
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf libsoup-3.0-dev javascriptcoregtk-4.1 libjavascriptcoregtk-4.1-dev

      - name: install frontend dependencies
        run: npm install

      - name: build tauri app
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: app-v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version
          releaseName: 'ContextPad v__VERSION__'
          releaseBody: 'See the assets to download this version and install.'
          releaseDraft: true
          prerelease: false
          
      - name: Upload Linux Deb Bundle
        uses: actions/upload-artifact@v4
        with:
          name: contextpad-linux-deb
          path: src-tauri/target/release/bundle/deb/*.deb
          
      - name: Upload Linux AppImage Bundle
        uses: actions/upload-artifact@v4
        with:
          name: contextpad-linux-appimage
          path: src-tauri/target/release/bundle/appimage/*.AppImage
